In [1]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv('macas.csv',delimiter=",")
df

,Unnamed: 0,1.2013,2.2013,3.2013,4.2013,5.2013,6.2013,7.2013,8.2013,9.2013,...,6.2019,7.2019,8.2019,9.2019,10.2019,11.2019,12.2019,1.2020,2.2020,3.2020
0,Moscow,79.72,81.08,79.68,79.80,80.63,80.80,80.28,78.99,76.77,...,116.91,125.29,123.94,113.03,102.19,97.83,101.07,103.44,108.23,110.28
1,Kaliningrad,42.67,44.37,44.73,46.75,NaN,51.59,57.80,62.14,56.76,...,79.20,80.85,85.33,75.02,77.95,78.98,76.55,74.89,70.00,81.53
2,Petersburg,62.55,62.73,63.43,63.83,66.06,69.22,72.07,69.31,65.18,...,115.35,123.03,123.08,109.71,97.22,95.75,97.09,98.18,103.10,110.60
3,Krasnodar,48.26,51.01,50.91,53.94,61.27,65.44,56.51,53.00,43.87,...,102.01,116.12,92.06,82.70,66.62,68.11,73.48,82.04,81.19,95.05
4,Ekaterinburg,71.25,71.35,70.90,71.92,72.91,74.39,73.10,70.24,69.12,...,121.68,125.32,123.41,108.48,98.73,96.25,100.12,101.29,102.81,108.53